/*    底部的上         */
.cc-footer{width:100%;height:425px;background:#fafafc;}
.cc-footer footer{width:1240px;margin:0 auto;}
.cc-footer footer>ul{padding:38px 8px 26px;border-bottom:1px solid #e5e5e5;height:68px;}
.cc-footer footer>ul>li{width:203px;height:68px;float: left;text-align: center;position:relative;}
.cc-footer footer>ul>li:after{position: absolute;display: block;content: '';height: 44px;right: 0;top: 10px;border-right: 1px solid #e5e5e5;}
.cc-footer footer>ul>li:last-child:after{content: " ";clear: both;height: 0;visibility: hidden;display: block;}
.cc-footer footer>ul>li img{width:46px;height:37px;margin-bottom: 15px;}
.cc-footer footer>ul>li p{width:100%;}    
.cc-footer footer>ul>li p span{font-weight: bolder;padding-right:5px;}
/*    底部的中         */
.cc-footer footer .cc-footer_center{padding:38px 8px 26px;border-bottom:1px solid #e5e5e5;height:118px;}
.cc-footer footer .cc-footer_center>ul{width:100%;height:118px;}
.cc-footer footer .cc-footer_center>ul>li{float:left;width:244px;text-align: center;height:22px;line-height:22px;}
.cc-footer footer .cc-footer_center>ul>li>span a{color: #333;font-size: 14px;margin-bottom: 10px;display: inline-block;}
.cc-footer footer .cc-footer_center>ul>li>p a{color: #666;transition: color .2s linear;}
.cc-footer footer .cc-footer_center>ul>li>p a:hover{color:#00c3f5}    
.cc-footer footer .cc-footer_center>ul>li:last-child p{color: #666;}    
.cc-footer footer .cc-footer_center>ul>li:last-child p:nth-child(2) a{font-size: 24px;color: #1fa7ea;margin-top: 20px;display: inline-block;}   
.cc-footer footer .cc-footer_center>ul>li:last-child p:nth-child(3) a{display: inline-block;border-radius: 4px;color: #fff;font-size: 12px;height: 34px;width: 160px;line-height: 34px;margin-top: 14px;text-align: center;background-color: #1fa7ea;transition: all .2s linear;}
.cc-footer footer .cc-footer_center>ul>li:last-child p:nth-child(3) a img{margin-right: 5px;}
.cc-footer footer .cc-footer_center>ul>li:last-child p:nth-child(3) a:hover{background-color: #4dcff6;}
.cc-footer footer .cc-footer_center>ul>li .cc_wx_show{position:relative;}
.cc-footer footer .cc-footer_center>ul>li .cc_wx_show img{position:absolute;width:183px;height:221px;top:-175px;right:-95px;display: none;}

/*    底部的下         */
.cc-footer footer .cc-footer_top{padding: 38px 0 56px;text-align: center;color: #666;height:20px;line-height:20px;}
.cc-footer footer .cc-footer_top  a{margin-left:10px;color: #666;}   
.cc-footer footer .cc-footer_top  a:hover{color: #666;}
.cc-footer footer .cc-footer_top  a i{display:inline-block;width:20px;height:16px;transition: all .2s linear;}
.cc-footer footer .cc-footer_top .cc-footer_xx1 i{background:url(../img/xx_01.gif) no-repeat;}
.cc-footer footer .cc-footer_top .cc-footer_xx1:hover i{background:url(../img/xx_02.gif) no-repeat;}
.cc-footer footer .cc-footer_top .cc-footer_xx2 i{background:url(../img/jc_01.gif) no-repeat;}  
.cc-footer footer .cc-footer_top .cc-footer_xx2:hover i{background:url(../img/jc_02.gif) no-repeat;}
.cc-footer footer .cc-footer_top .cc-footer_xx3 i{background:url(../img/yh_01.gif) no-repeat;}   
.cc-footer footer .cc-footer_top .cc-footer_xx3:hover i{background:url(../img/yh_02.gif) no-repeat;} 
.cc-footer footer .cc-footer_top .cc-footer_xx4 i{background:url(../img/qq_01.gif) no-repeat;} 
.cc-footer footer .cc-footer_top .cc-footer_xx4:hover i{background:url(../img/qq_02.gif) no-repeat;}
    
    
    
   

    