*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
.left {
	float: left;
	display: inline;
}
.right {
	float: right;
	display: inline;
}
.clear:after {
	clear: both;
	content: '';
	display: block;
}
.clear {
	zoom: 1;
}
a{
	text-decoration: none;
}
ol,ul{
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
	font-weight: normal;
}
img{
	border: none;
}
body{
	font-size: 14px;
}

.crl_content{
	width: 960px;
	margin:0 auto;
	margin-bottom: 60px;
}
.bread_nav {
	padding-top: 42px;
	padding-bottom: 16px;
}
.bread_nav a {
	color: #000;
}
.crl_wenti{
	width: 100%;
	height: auto;
	border-top: 1px solid #d7d7d7;
}
.crl_w_l{
	width: 220px;
	height: 100%;
	background: #f5f5f5;
}
.crl_w_l ul h2{
	font-weight: bold;
	text-indent: 24px;
	margin-top: 30px;
	font-size: 16px;
	line-height: 38px;
	color: #000;
}
.crl_w_l ul li{
    height: 38px;
    line-height: 38px;
    text-indent:24px;
    cursor: pointer;
    color: #666;
    font-size: 14px;
}
.crl_w_r{
	width: 646px;
	height: auto;
	padding: 50px 47px;
}
.crl_w_l .active{
	border-left: 2px solid #00a7eb;
	background: #fff;
}
.crl_w_cont h2{
	font-size: 18px;
	color: #000;
    text-align: left;
}
.crl_w_cont h3{
	font-size: 16px;
    margin-top: 40px;
}
.crl_wenzi{
	margin-top: 20px;
    line-height: 25px;
    color: #333;
}
.crl_w_r .crl_w_cont{
	display: none;
}
