.ljn_foot{
	height: 318px;
	width: 100%;
	background: #fff;
	border-top: 1px solid #f1f1f1;
}
.ljn_foot .center-box{
	height: 229px;
	width: 1240px;
	margin: 0 auto;
	border-bottom: 1px solid #f2f2f2;
}
.ljn_foot .center-box .mzsc{
	width: 954px;
	height: 229px;
	float: left;
}
.ljn_foot .center-box .mzsc li{
	width: 25%;
	height: 229px;
	float: left;
}
.ljn_foot .center-box .mzsc li span{
	/*margin: 75px 0 23px 0;*/
	margin: 55px 0 20px 0;
	width: 100%;
	text-align: left;
	font-size: 12px;
	color: #666;
	display: block;
	font-weight: bold;
}
.ljn_foot .center-box .mzsc li p{
	width: 100%;
	text-align: left;
	font-size: 9px;
	color: #666;
	margin-bottom: 12px;
	cursor: pointer;
}
.ljn_foot .center-box .mzsc li p:hover{
	color:#4dcff6;
}
.ljn_foot .right-box{
	height: 229px;
	width: 286px;
	float: left;
	
}
.ljn_foot .right-box h5{
	font-size: 12px;
	color: #666;
	float: right;
	text-align: center;
	margin: 65px 0 25px 0;
}
.ljn_foot .right-box p{
	font-size: 28px;
	font-family: "微软雅黑";
	color: #666;
	float: right;
	text-align: center;
	margin-bottom: 20px;
}
.ljn_foot .right-box span{
	height: 40px;
	float: right;
	width: 180px;
	background: #3db1fa;
	display: block;
	margin: 0 auto;
	cursor:pointer;
}
.ljn_foot .right-box span:hover{
	background:#4dcff6;
}
.ljn_foot .right-box span img{
	height: 22px;
	width:21px;
	margin: 10px 7px 0 22px;
	float: left;
}
.ljn_foot .right-box span .zaix{
	line-height: 40px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
	float: left;
}
.ljn_foot .dibu{
	height: 63px;
	margin: 10px auto;
	width: 1240px;
}
.ljn_foot .dibuz{
	height: 86px;
	float: left;
	width: 70%;
}
.ljn_foot .dibuz a{
	color: #999;
	line-height: 27px;
    font-size: 14px;
	display: block;
	float: left;
	margin-right: 5px;
}
.ljn_foot .dibuz a:hover{
	color:#31a5e7;
}
.ljn_foot .dibuz span{
	display: block;
	margin: 0 6px 0 1px;
	 color: #999;
	 float: left;
}
.ljn_foot .dibuz span i{
	width: 14px;
	background: url(../img/cc-footer/jg_01.gif);
	position: relative;
    top: 4px;
    display: inline-block;
    height: 18px;
   margin-right: 3px;
    background-position: center center;
    background-repeat: no-repeat;
}
.ljn_foot .dibuz .stu{
	display: block;
	width: 16px;
	height: 18px;
	float: left;
}
.ljn_foot .dibuz .stua>i{
	display: block;
	position: relative;
    top: 4px;
	width: 16px;
	height: 18px;
	background: url(../img/cc-footer/xx_01.gif);
}
.ljn_foot .dibuz .stua>i:hover{
	background: url(../img/cc-footer/xx_02.gif);
}
.ljn_foot .dibuz .stub>i{
	display: block;
	position: relative;
    top: 4px;
	width: 16px;
	height: 18px;
	background: url(../img/cc-footer/jc_01.gif);
}
.ljn_foot .dibuz .stub>i:hover{
	background: url(../img/cc-footer/jc_02.gif);
}
.ljn_foot .dibuz .stuc>i{
	display: block;
	position: relative;
    top: 4px;
	width: 16px;
	height: 18px;
	background: url(../img/cc-footer/yh_01.gif);
}
.ljn_foot .dibuz .stuc>i:hover{
	background: url(../img/cc-footer/yh_02.gif);
}
.ljn_foot .dibuz p{
	float: left;
	width: 100%;
	color: #999;
	line-height: 18px;
    font-size: 14px;
}
.ljn_foot .dibuy{
	height: 27px;
	float: right;
	width: auto;
	position: relative;
}
.ljn_foot .dibuy>p{
	float: left;
	font-size: 12px;
	line-height: 27px;
	color: #999;
}
.ljn_foot .dibuy .weiboa>i{
	display: inline-block;
	background: url(../img/cc-footer/wb_01.gif);
    width: 21px;
    height: 18px;
    margin-left: 10px;
    position: relative;
    top: 4px;
    background-repeat: no-repeat;
    background-position: center center;
}
.ljn_foot .dibuy .weiboa>i:hover{
	background: url(../img/cc-footer/wb_02.gif);
}
.ljn_foot .dibuy span{
	display: inline-block;
    width: 1px;
    height: 14px;
    background: #eee;
    margin: 0 10px;
    position: relative;
    top: 5px;
}
.ljn_foot .dibuy .weibob>i{
	display: inline-block;
	background: url(../img/cc-footer/wx_01.gif);
    width: 21px;
    height: 18px;
    position: relative;
    top: 4px;
    background-repeat: no-repeat;
    background-position: center center;
}
.ljn_foot .dibuy .weibob>i:hover{
	background: url(../img/cc-footer/wx_02.gif);
}
.ljn_foot .dibuy .weiboc>i{
	display: inline-block;
	background: url(../img/cc-footer/kj_01.gif);
    width: 21px;
    height: 18px;
    position: relative;
    top: 4px;
    background-repeat: no-repeat;
    background-position: center center;
}
.ljn_foot .dibuy .weiboc>i:hover{
	background: url(../img/cc-footer/kj_02.gif);
}
.ljn_foot .dibuy img{
	position: absolute;
	top: -221px;
	display: none;
	right:-17px ;
}
