.top {
	width: 100%;
	height: 82px;
}

.container {
	border-bottom: 1px solid #f1f1f1;
	height: 4950px;
}

.container .first {
	height: 840px;
	background: url(../img/ljn_c18.gif) center center;
}

.container .first .text {
	height: 300px;
	width: 1240px;
	margin: 0 auto;
	position: relative;
	top: 400px;
	left: 30px;
}

.container .first .text h2 {
	font-size: 42px;
	color: #333;
	opacity: 0;
	transform: translate3d(0, 0, 0);
	transition: all 2s cubic-bezier(0.19, 1, .22, 1);
	transition-property: opacity, transform;
	opacity: 0;
	transform: translateY(80px);
}


/*@keyframes ljn {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform:  translateY(0px);
  }
}*/

.container .first .text p {
	font-size: 16px;
	line-height: 30px;
	width: 380px;
	margin-top: 10px;
	color: #333;
	opacity: 0;
	transition: all 2s 0.3s cubic-bezier(0.19, 1, .22, 1);
	transition-property: opacity, transform;
	opacity: 0;
	transform: translateY(80px);
}

.container .second {
	width: 100%;
	height: 674px;
	padding-top: 135px;
	text-align: center;
}

.second .text-wrapper {
	width: 1240px;
	height: 500px;
	margin: 0 auto;
}

.second .text-wrapper h2 {
	font-size: 38px;
	height: 60px;
	opacity: 0;
	transform: translate3d(0, 0, 0);
	transition: all 2s cubic-bezier(0.19, 1, .22, 1);
	transition-property: opacity, transform;
	/*animation: ljn 1s 0.5s;
  	animation-fill-mode: forwards;*/
	opacity: 0;
	transform: translateY(80px);
}

.second .text-wrapper p {
	font-size: 16px;
	line-height: 30px;
	width: 765px;
	margin: 0 auto;
	color: #333;
	margin-top: 15px;
	opacity: 0;
	transition: all 2s 0.3s cubic-bezier(0.19, 1, .22, 1);
	transition-property: opacity, transform;
	/*animation: ljn 1s 0.8s;
  	animation-fill-mode: forwards;*/
	opacity: 0;
	transform: translateY(80px);
}

.second .text-wrapper img {
	margin-top: 82px;
}

.second .text-wrapper .icons-texts {
	width: 100%;
	text-align: left;
	margin-top: 30px;
	overflow: hidden;
}

.second .text-wrapper .icons-texts span {
	text-align: center;
	display: inline-block;
	width: 150px;
}

.second .text-wrapper .icons-texts span:nth-child(1) {
	margin-left: 48px;
}

.second .text-wrapper .icons-texts span:nth-child(2) {
	margin-left: 187px;
}

.second .text-wrapper .icons-texts span:nth-child(3) {
	margin-left: 174px;
}

.second .text-wrapper .icons-texts span:nth-child(4) {
	margin-left: 167px;
}

.third {
	height: 845px;
	background: url(../img/ljn_c19.gif) center center;
}

.third .biaoti {
	text-align: center;
	position: relative;
	top: 117px;
	color: #fff;
	width: 575px;
	margin: 0 auto;
	height: 300px;
}

.third .biaoti h2 {
	font-size: 38px;
	height: 60px;
	opacity: 0;
	transform: translate3d(0, 0, 0);
	transition: all 2s cubic-bezier(0.19, 1, .22, 1);
	transition-property: opacity, transform;
	opacity: 0;
	transform: translateY(80px);
}

.third .biaoti p {
	font-size: 16px;
	line-height: 30px;
	margin-top: 10px;
	transition: all 2s 0.3s cubic-bezier(0.19, 1, .22, 1);
	transition-property: opacity, transform;
	opacity: 0;
	transform: translateY(80px);
}

.fourth {
	height: 845px;
	background: url(../img/ljn_c17.gif) center center;
}

.fourth .biaotia {
	position: relative;
	top: 184px;
	right: 145px;
	color: #fff;
	float: right;
	width: 518px;
	height: 160px;
}

.fourth .biaotia h2 {
	font-size: 38px;
	height: 60px;
	opacity: 0;
	transform: translate3d(0, 0, 0);
	transition: all 2s cubic-bezier(0.19, 1, .22, 1);
	transition-property: opacity, transform;
	opacity: 0;
	transform: translateY(80px);
}

.fourth .biaotia p {
	font-size: 16px;
	line-height: 30px;
	opacity: 0;
	margin-top: 10px;
	transition: all 2s 0.3s cubic-bezier(0.19, 1, .22, 1);
	transition-property: opacity, transform;
	opacity: 0;
	transform: translateY(80px);
}

.fifty {
	height: 845px;
	background: url(../img/ljn_c16.gif) center center;
}

.fifty .biaotib {
	position: relative;
	top: 285px;
	left: 140px;
	color: #333;
	width: 470px;
	height: 300px;
}

.fifty .biaotib h2 {
	font-size: 38px;
	height: 60px;
	opacity: 0;
	transform: translate3d(0, 0, 0);
	transition: all 2s cubic-bezier(0.19, 1, .22, 1);
	transition-property: opacity, transform;
	opacity: 0;
	transform: translateY(80px);
}

.fifty .biaotib p {
	font-size: 16px;
	line-height: 30px;
	margin-top: 10px;
	opacity: 0;
	transition: all 2s 0.3s cubic-bezier(0.19, 1, .22, 1);
	transition-property: opacity, transform;
	opacity: 0;
	transform: translateY(80px);
}

.wen {
	height: 830px;
	width: 1240px;
	margin: 0 auto;
}

.wen h2 {
	height: 80px;
	width: 100%;
	font-size: 36px;
	color: #000;
	padding-top: 111px;
	border-bottom: 1px solid #474747;
}

.wenzi-box {
	height: 570px;
	width: 100%;
	padding-top: 60px;
	border-top: 1px solid #d8d8d8;
}

.wenzi-box li {
	margin-bottom: 44px;
	font-size: 17px;
	margin-left: 30px;
}

.ljn_foot {
	height: 318px;
	width: 100%;
	background: #fff;
}

.ljn_foot .center-box {
	height: 229px;
	width: 1240px;
	margin: 0 auto;
	border-bottom: 1px solid #f2f2f2;
}

.ljn_foot .center-box .mzsc {
	width: 954px;
	height: 229px;
	float: left;
}

.ljn_foot .center-box .mzsc li {
	width: 25%;
	height: 229px;
	float: left;
}

.ljn_foot .center-box .mzsc li span {
	margin: 55px 0 20px 0;
	width: 100%;
	text-align: left;
	font-size: 12px;
	color: #666;
	display: block;
	font-weight: bold;
}
.ljn_foot .center-box .mzsc li p:hover{
	color: #1FA7EA;
}
.ljn_foot .center-box .mzsc li p {
	width: 100%;
	text-align: left;
	font-size: 9px;
	color: #666;
	cursor: pointer;
	margin-bottom: 12px;
}

.ljn_foot .right-box {
	height: 229px;
	width: 286px;
	float: left;
}

.ljn_foot .right-box h5 {
	font-size: 12px;
	color: #666;
	float: right;
	text-align: center;
	margin: 65px 0 25px 0;
}

.ljn_foot .right-box p {
	font-size: 28px;
	font-family: "微软雅黑";
	color: #666;
	float: right;
	text-align: center;
	margin-bottom: 20px;
}

.ljn_foot .right-box span {
	height: 40px;
	float: right;
	width: 180px;
	background: #3db1fa;
	display: block;
	margin: 0 auto;
}

.ljn_foot .right-box span img {
	height: 22px;
	width: 21px;
	margin: 10px 7px 0 22px;
	float: left;
}

.ljn_foot .right-box span .zaix {
	line-height: 40px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
	float: left;
}

.ljn_foot .dibu {
	height: 63px;
	margin: 10px auto;
	width: 1240px;
}

.ljn_foot .dibuz {
	height: 63px;
	float: left;
	width: 70%;
}

.ljn_foot .dibuz a {
	color: #999;
	line-height: 27px;
	font-size: 12px;
	display: block;
	float: left;
	margin-right: 5px;
}

.ljn_foot .dibuz a:hover {
	color: #31a5e7;
}

.ljn_foot .dibuz span {
	display: block;
	margin: 0 6px 0 1px;
	color: #999;
	float: left;
}

.ljn_foot .dibuz span i {
	width: 14px;
	background: url(../img/jg_01.gif);
	position: relative;
	top: 4px;
	display: inline-block;
	height: 18px;
	margin-right: 3px;
	background-position: center center;
	background-repeat: no-repeat;
}

.ljn_foot .dibuz .stu {
	display: block;
	width: 16px;
	height: 18px;
	float: left;
}

.ljn_foot .dibuz .stua>i {
	display: block;
	position: relative;
	top: 4px;
	width: 16px;
	height: 18px;
	background: url(../img/xx_01.gif);
}

.ljn_foot .dibuz .stua>i:hover {
	background: url(../img/xx_02.gif);
}

.ljn_foot .dibuz .stub>i {
	display: block;
	position: relative;
	top: 4px;
	width: 16px;
	height: 18px;
	background: url(../img/jc_01.gif);
}

.ljn_foot .dibuz .stub>i:hover {
	background: url(../img/jc_02.gif);
}
.ljn_foot .dibuz .stuc>i {
	display: block;
	position: relative;
	top: 4px;
	width: 16px;
	height: 18px;
	background: url(../img/yh_01.gif);
}
.ljn_foot .dibuz .stuc>i:hover {
	background: url(../img/yh_02.gif);
}

.ljn_foot .dibuz p {
	float: left;
	width: 100%;
	color: #999;
	line-height: 18px;
	font-size: 12px;
}

.ljn_foot .dibuy {
	height: 27px;
	float: right;
	width: auto;
	position: relative;
}

.ljn_foot .dibuy>p {
	float: left;
	font-size: 12px;
	line-height: 27px;
	color: #999;
}

.ljn_foot .dibuy .weiboa>i {
	display: inline-block;
	background: url(../img/wb_01.gif);
	width: 21px;
	height: 18px;
	margin-left: 10px;
	position: relative;
	top: 4px;
	background-repeat: no-repeat;
	background-position: center center;
}

.ljn_foot .dibuy .weiboa>i:hover {
	background: url(../img/wb_02.gif);
}

.ljn_foot .dibuy span {
	display: inline-block;
	width: 1px;
	height: 14px;
	background: #eee;
	margin: 0 10px;
	position: relative;
	top: 5px;
}

.ljn_foot .dibuy .weibob>i {
	display: inline-block;
	background: url(../img/wx_01.gif);
	width: 21px;
	height: 18px;
	position: relative;
	top: 4px;
	background-repeat: no-repeat;
	background-position: center center;
}

.ljn_foot .dibuy .weibob>i:hover {
	background: url(../img/wx_02.gif);
}

.ljn_foot .dibuy .weiboc>i {
	display: inline-block;
	background: url(../img/kj_01.gif);
	width: 21px;
	height: 18px;
	position: relative;
	top: 4px;
	background-repeat: no-repeat;
	background-position: center center;
}

.ljn_foot .dibuy .weiboc>i:hover {
	background: url(../img/kj_02.gif);
}

.ljn_foot .dibuy img {
	position: absolute;
	top: -221px;
	display: none;
	right: -17px;
}

.to_top {
	visibility: hidden;
	position: fixed;
	bottom: 0px;
	right: 0px;
	display: none;
	margin: 0;
	width: 80px;
	height: 80px;
	background:url(../img/to_top.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
	visibility: visible;
}