*{margin: 0;padding:0;font-family: '微软雅黑';list-style:none; }
.main{width:100%;height:1142px;background:#f4f4f4;   }
.fw{width:1240px;height:100px; margin:0 auto; }
.fw p{font-size:15px;position: relative;top: 45px; cursor: pointer;}
.fw p span{color: #5eafea;}
.tx{width:786px;height:138px;margin:0 auto;  }
.zl{width:1240px;height:38px;margin:0 auto;   }
.zl p{font-size:20px; }
.fk{width:1238px;height:777px;border:1px solid #ddd;background: #fff; margin:0 auto; }
.xh{width:905px;height:540px;border-bottom:1px solid #ddd;margin:100px auto 0 auto;   }
.xm{width:330px;height:40px;margin:0 auto;font-size: 14px;line-height:40px;    }
.xm input{width:270px;height:38px;border:1px solid #ddd;margin-left:20px;   }
.szd{width:333px;height:38px;margin:8px auto 0 auto;font-size: 14px;line-height:38px;  }
#s1{width:128px;height:36px;border:1px solid #ddd;margin-left:12px;   }
#s2{width:128px;height:36px;border:1px solid #ddd;margin-left:10px;   }
.sn{width:433px;height:40px;margin:8px auto 0 auto;font-size: 14px;line-height:40px;   }
.sn input{width:270px;height:38px;border:1px solid #ddd;margin-left:20px; }
.zbd{width:280px;height: 30px;line-height:30px;margin:0 auto;  }
.zbd p{font-size:14px;margin-left:24px;color:#d3d9e0;   }
.zbd p span{font-size:14px;color:#17a7ec;   }
.wx{width:360px;height: 38px;font-size: 14px;line-height:38px;margin:0 auto; }
#s3{width:268px;height:38px;border:1px solid #ddd;margin-left:12px;}
.sj{width:333px;height:38px;margin:8px auto 0 auto;font-size: 14px;line-height:38px; }
.sj input{width:270px;height:38px;border:1px solid #ddd;margin-left:12px;}
.sy{width:290px;height:40px;margin:8px auto 0 auto;}
.sy input{width: 130px;height:38px;border:1px solid #ddd;margin-left:32px; }
.sy img{vertical-align: middle;margin-left:5px;}
.yz{width:334px;height: 40px;margin:8px auto 0 auto;font-size: 14px;line-height:38px; }
.yz input{width: 130px;height:38px;border:1px solid #ddd;margin-left:12px; }
.yz button{width:128px;height:38px;border:1px solid #ddd;margin-left:10px;
   background: #f9f9f9;line-height:38px;text-align: center;font-size: 14px;   }
   .xyb{width:130px;height:38px;margin:50px auto ;  }
   .xyb button{width:128px;height: 36px;border:1px solid #ddd;background: #00a7ea;
   	color: #fff;text-align: center;line-height:38px; }
   	.js{width:872px;height:50px;margin:34px auto;  }
   	.ljn_foot{
	height: 318px;
	width: 100%;
	background: #fff;
}
.ljn_foot .center-box{
	height: 229px;
	width: 1240px;
	margin: 0 auto;
	border-bottom: 1px solid #f2f2f2;
}
.ljn_foot .center-box .mzsc{
	width: 954px;
	height: 229px;
	float: left;
}
.ljn_foot .center-box .mzsc li{
	width: 25%;
	height: 229px;
	float: left;
}
.ljn_foot .center-box .mzsc li span{
	/*margin: 75px 0 23px 0;*/
	margin: 55px 0 20px 0;
	width: 100%;
	text-align: left;
	font-size: 12px;
	color: #666;
	display: block;
	font-weight: bold;
}
.ljn_foot .center-box .mzsc li p{
	width: 100%;
	text-align: left;
	font-size: 9px;
	color: #666;
	cursor: pointer;
	margin-bottom: 12px;
	
}
.ljn_foot .center-box .mzsc li p:hover{
	color: #1FA7EA;
}
.ljn_foot .right-box{
	height: 229px;
	width: 286px;
	float: left;
	
}
.ljn_foot .right-box h5{
	font-size: 12px;
	color: #666;
	float: right;
	text-align: center;
	margin: 65px 0 25px 0;
}
.ljn_foot .right-box p{
	font-size: 28px;
	font-family: "微软雅黑";
	color: #666;
	float: right;
	text-align: center;
	margin-bottom: 20px;
}
.ljn_foot .right-box span{
	height: 40px;
	float: right;
	width: 180px;
	background: #3db1fa;
	display: block;
	margin: 0 auto;
}
.ljn_foot .right-box span img{
	height: 22px;
	width:21px;
	margin: 10px 7px 0 22px;
	float: left;
}
.ljn_foot .right-box span .zaix{
	line-height: 40px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
	float: left;
}
.ljn_foot .dibu{
	height: 63px;
	margin: 10px auto;
	width: 1240px;
}
.ljn_foot .dibuz{
	height: 63px;
	float: left;
	width: 70%;
}
.ljn_foot .dibuz a{
	color: #999;
	line-height: 27px;
    font-size: 12px;
	display: block;
	float: left;
	margin-right: 5px;
}
.ljn_foot .dibuz a:hover{
	color:#31a5e7;
}
.ljn_foot .dibuz span{
	display: block;
	margin: 0 6px 0 1px;
	 color: #999;
	 float: left;
}
.ljn_foot .dibuz span i{
	width: 14px;
	background: url(../img/jg_01.gif);
	position: relative;
    top: 4px;
    display: inline-block;
    height: 18px;
   margin-right: 3px;
    background-position: center center;
    background-repeat: no-repeat;
}
.ljn_foot .dibuz .stu{
	display: block;
	width: 16px;
	height: 18px;
	float: left;
}
.ljn_foot .dibuz .stua>i{
	display: block;
	position: relative;
    top: 4px;
	width: 16px;
	height: 18px;
	background: url(../img/xx_01.gif);
}
.ljn_foot .dibuz .stua>i:hover{
	background: url(../img/xx_02.gif);
}
.ljn_foot .dibuz .stub>i{
	display: block;
	position: relative;
    top: 4px;
	width: 16px;
	height: 18px;
	background: url(../img/jc_01.gif);
}
.ljn_foot .dibuz .stub>i:hover{
	background: url(../img/jc_02.gif);
}
.ljn_foot .dibuz .stuc>i{
	display: block;
	position: relative;
    top: 4px;
	width: 16px;
	height: 18px;
	background: url(../img/yh_01.gif);
}
.ljn_foot .dibuz .stuc>i:hover{
	background: url(../img/yh_02.gif);
}
.ljn_foot .dibuz p{
	float: left;
	width: 100%;
	color: #999;
	line-height: 18px;
    font-size: 12px;
}
.ljn_foot .dibuy{
	height: 27px;
	float: right;
	width: auto;
	position: relative;
}
.ljn_foot .dibuy>p{
	float: left;
	font-size: 12px;
	line-height: 27px;
	color: #999;
}
.ljn_foot .dibuy .weiboa>i{
	display: inline-block;
	background: url(../img/wb_01.gif);
    width: 21px;
    height: 18px;
    margin-left: 10px;
    position: relative;
    top: 4px;
    background-repeat: no-repeat;
    background-position: center center;
}
.ljn_foot .dibuy .weiboa>i:hover{
	background: url(../img/wb_02.gif);
}
.ljn_foot .dibuy span{
	display: inline-block;
    width: 1px;
    height: 14px;
    background: #eee;
    margin: 0 10px;
    position: relative;
    top: 5px;
}
.ljn_foot .dibuy .weibob>i{
	display: inline-block;
	background: url(../img/wx_01.gif);
    width: 21px;
    height: 18px;
    position: relative;
    top: 4px;
    background-repeat: no-repeat;
    background-position: center center;
}
.ljn_foot .dibuy .weibob>i:hover{
	background: url(../img/wx_02.gif);
}
.ljn_foot .dibuy .weiboc>i{
	display: inline-block;
	background: url(../img/kj_01.gif);
    width: 21px;
    height: 18px;
    position: relative;
    top: 4px;
    background-repeat: no-repeat;
    background-position: center center;
}
.ljn_foot .dibuy .weiboc>i:hover{
	background: url(../img/kj_02.gif);
}
.ljn_foot .dibuy img{
	position: absolute;
	top: -221px;
	display: none;
	right:-17px ;
}