body{
	background: #f4f4f4;
}
.top{
	width: 100%;
	background: #fff;
	height: 82px;
}
.topa{
	width: 1240px;
	margin: 0 auto;
	height:98px;
}
.topa a{
	line-height: 98px;
	display: block;
	color: #00a7ea;
	font-size: 12px;
	float: left;
}
.topa p{
	float: left;
	line-height: 98px;
}
.topb{
	height: 650px;
	width: 1240px;
	margin: 0 auto;
}
.topb .biaodan{
	height: 46px;
	width: 443px;
	border: 1px solid #d7d7d7;
	background: #fff;
	margin-bottom: 6px;
}
.topb .biaodan .one{
	border: none;
	
	width: 414px;
	height: 18px;
	padding: 14px;
	font-size: 13px;
	color: #cbcbcb;
}
.topb .biaodana{
	height: 46px;
	width: 319px;
	border: 1px solid #d7d7d7;
	background: #fff;
	margin:0 10px 7px 0;
	float: left;
}
.topb .biaodana .one{
	border: none;
	
	width: 291px;
	height: 18px;
	padding: 14px;
	font-size: 13px;
	color: #cbcbcb;
}
.topb img{
	float: left;
}
.dierhang{
	width: 1240px;
	height: 54px;
}
.anniu{
	width: 1240px;
	height: 48px;
	
}
.anniu button{
	clear: both;
	border:none;
	outline: none;
	width: 112px;
	height: 48px;
	cursor: pointer;
	background: #32a5e7;
	line-height: 48px;
	text-align: center;
	color: #FFFFFF;
	font-size: 12px;
	float: left;
	margin-right: 15px;
}
.anniu a{
	display: block;
	color: #32a5e7;
	font-size: 15px;
	float: left;
	margin-top: 23px;
}
.ljn_foot{
	height: 318px;
	width: 100%;
	background: #fff;
}
.ljn_foot .center-box{
	height: 229px;
	width: 1240px;
	margin: 0 auto;
	border-bottom: 1px solid #f2f2f2;
}
.ljn_foot .center-box .mzsc{
	width: 954px;
	height: 229px;
	float: left;
}
.ljn_foot .center-box .mzsc li{
	width: 25%;
	height: 229px;
	float: left;
}
.ljn_foot .center-box .mzsc li span{
	/*margin: 75px 0 23px 0;*/
	margin: 55px 0 20px 0;
	width: 100%;
	text-align: left;
	font-size: 12px;
	color: #666;
	display: block;
	font-weight: bold;
}
.ljn_foot .center-box .mzsc li p:hover{
	color: #1FA7EA;
}
.ljn_foot .center-box .mzsc li p{
	width: 100%;
	text-align: left;
	font-size: 9px;
	color: #666;
	cursor: pointer;
	margin-bottom: 12px;
	
}
.ljn_foot .right-box{
	height: 229px;
	width: 286px;
	float: left;
	
}
.ljn_foot .right-box h5{
	font-size: 12px;
	color: #666;
	float: right;
	text-align: center;
	margin: 65px 0 25px 0;
}
.ljn_foot .right-box p{
	font-size: 28px;
	font-family: "微软雅黑";
	color: #666;
	float: right;
	text-align: center;
	margin-bottom: 20px;
}
.ljn_foot .right-box span{
	height: 40px;
	float: right;
	width: 180px;
	background: #3db1fa;
	display: block;
	margin: 0 auto;
}
.ljn_foot .right-box span img{
	height: 22px;
	width:21px;
	margin: 10px 7px 0 22px;
	float: left;
}
.ljn_foot .right-box span .zaix{
	line-height: 40px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
	float: left;
}
.ljn_foot .dibu{
	height: 63px;
	margin: 10px auto;
	width: 1240px;
}
.ljn_foot .dibuz{
	height: 63px;
	float: left;
	width: 70%;
}
.ljn_foot .dibuz a{
	color: #999;
	line-height: 27px;
    font-size: 12px;
	display: block;
	float: left;
	margin-right: 5px;
}
.ljn_foot .dibuz a:hover{
	color:#31a5e7;
}
.ljn_foot .dibuz span{
	display: block;
	margin: 0 6px 0 1px;
	 color: #999;
	 float: left;
}
.ljn_foot .dibuz span i{
	width: 14px;
	background: url(../img/jg_01.gif);
	position: relative;
    top: 4px;
    display: inline-block;
    height: 18px;
   margin-right: 3px;
    background-position: center center;
    background-repeat: no-repeat;
}
.ljn_foot .dibuz .stu{
	display: block;
	width: 16px;
	height: 18px;
	float: left;
}
.ljn_foot .dibuz .stua>i{
	display: block;
	position: relative;
    top: 4px;
	width: 16px;
	height: 18px;
	background: url(../img/xx_01.gif);
}
.ljn_foot .dibuz .stua>i:hover{
	background: url(../img/xx_02.gif);
}
.ljn_foot .dibuz .stub>i{
	display: block;
	position: relative;
    top: 4px;
	width: 16px;
	height: 18px;
	background: url(../img/jc_01.gif);
}
.ljn_foot .dibuz .stub>i:hover{
	background: url(../img/jc_02.gif);
}
.ljn_foot .dibuz .stuc>i{
	display: block;
	position: relative;
    top: 4px;
	width: 16px;
	height: 18px;
	background: url(../img/yh_01.gif);
}
.ljn_foot .dibuz .stuc>i:hover{
	background: url(../img/yh_02.gif);
}
.ljn_foot .dibuz p{
	float: left;
	width: 100%;
	color: #999;
	line-height: 18px;
    font-size: 12px;
}
.ljn_foot .dibuy{
	height: 27px;
	float: right;
	width: auto;
	position: relative;
}
.ljn_foot .dibuy>p{
	float: left;
	font-size: 12px;
	line-height: 27px;
	color: #999;
}
.ljn_foot .dibuy .weiboa>i{
	display: inline-block;
	background: url(../img/wb_01.gif);
    width: 21px;
    height: 18px;
    margin-left: 10px;
    position: relative;
    top: 4px;
    background-repeat: no-repeat;
    background-position: center center;
}
.ljn_foot .dibuy .weiboa>i:hover{
	background: url(../img/wb_02.gif);
}
.ljn_foot .dibuy span{
	display: inline-block;
    width: 1px;
    height: 14px;
    background: #eee;
    margin: 0 10px;
    position: relative;
    top: 5px;
}
.ljn_foot .dibuy .weibob>i{
	display: inline-block;
	background: url(../img/wx_01.gif);
    width: 21px;
    height: 18px;
    position: relative;
    top: 4px;
    background-repeat: no-repeat;
    background-position: center center;
}
.ljn_foot .dibuy .weibob>i:hover{
	background: url(../img/wx_02.gif);
}
.ljn_foot .dibuy .weiboc>i{
	display: inline-block;
	background: url(../img/kj_01.gif);
    width: 21px;
    height: 18px;
    position: relative;
    top: 4px;
    background-repeat: no-repeat;
    background-position: center center;
}
.ljn_foot .dibuy .weiboc>i:hover{
	background: url(../img/kj_02.gif);
}
.ljn_foot .dibuy img{
	position: absolute;
	top: -221px;
	display: none;
	right:-17px ;
}








